@import "../../../../assets/sass/general";

body {
	scroll-behavior: smooth;
}
.buttons {
	display: flex;
	justify-content: space-between;
}

.title-container {
	text-align: center;
	h3 {
		font-size: 3em;
		font-weight: 600;
	}
	p {
		width: 80%;
		margin: auto;
		margin-bottom: 40px;
		letter-spacing: 2px;
	}
}

.btn-theme-first {
	background-color: #0D0D0D;
	color: #fff;
	box-shadow: none;
	margin-right: 10px;
	outline: none;
}
@media (max-width: 576px) { 
	.buttons {
		flex-direction: column;
		margin-bottom: 40px;
		button.btn-theme-first {
			margin-right: 0px;
			margin-bottom: 10px;
			padding: 15px;
			width: 100%;
		}
	}
	#question-area {
		min-height: 150px;
		background: #f7f7f7;
		padding: 25px 0px;
	}
}
@media (max-width: 768px) {  

}


