.presentation-logotype {
  height: 100vh; }
  .presentation-logotype .full-screen-present {
    height: inherit; }
  .presentation-logotype .bg-present {
    height: 100%; }
  .presentation-logotype .inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .presentation-logotype .inner-content img {
      max-width: 50vw;
      max-height: 50vh;
      object-fit: contain; }
    .presentation-logotype .inner-content h3 {
      color: #F2F2F2; }
  .presentation-logotype .color-black, .presentation-logotype .color-black > * {
    filter: brightness(0%); }
  .presentation-logotype .color-white, .presentation-logotype .color-white > * {
    filter: brightness(100000%); }
  .presentation-logotype .bg-present-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .presentation-logotype .bg-present-image > img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

/*# sourceMappingURL=style.css.map */
