@import "../../../../assets/sass/general";

////////////////////////////////////
/////// PRESENTATION LOGOTYPE /////
//////////////////////////////////
.presentation-logotype {
	height: 100vh;
	.full-screen-present {
		height: inherit;
	}
	.bg-present {
		height: 100%;
	}
	.inner-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		img {
			max-width: 50vw;
			max-height: 50vh;
			object-fit: contain;
		}
		h3 {
			color: $icolor;
		}
	}
	.color-black, .color-black > * {
		filter: brightness(0%);  
	}
	.color-white, .color-white > * {
		filter: brightness(100000%);  
	}
	.bg-present-image {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		& > img {
			height: 100%;
			width: 100%; 
			object-fit: cover;
		}
	}
}