@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
#header-3 {
  position: absolute;
  z-index: 13;
  width: 100%;
  transition-duration: .5s; }
  #header-3 img.img-fluid {
    max-height: 15vh;
    width: auto;
    filter: brightness(1000000%); }
  #header-3.affix {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px #000; }
  #header-3 .mobile-menu {
    display: none; }
  #header-3 .navi-container-3 {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #header-3 .navi-container-3 #menu-main-menu {
      display: flex;
      flex-direction: inherit;
      justify-content: flex-end; }
      #header-3 .navi-container-3 #menu-main-menu li {
        margin-left: 25px; }
        #header-3 .navi-container-3 #menu-main-menu li a {
          color: #fff;
          font-size: 1.15em; }
  #header-3 a.dropdown-item.active {
    background-color: rgba(0, 0, 0, 0.6); }
  @media (max-width: 576px) {
    #header-3 .mobile-none {
      display: none; }
    #header-3 .mobile-menu {
      display: block; }
    #header-3 nav.mobile-menu.slide-menu {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100vh;
      top: 0px;
      width: 50vw;
      margin-left: -50vw;
      transition-duration: .5s; }
      #header-3 nav.mobile-menu.slide-menu.active {
        margin-left: 0vw; }
      #header-3 nav.mobile-menu.slide-menu .menu-main-menu-container {
        height: 100%;
        display: flex;
        margin-left: 20px;
        align-items: center; }
        #header-3 nav.mobile-menu.slide-menu .menu-main-menu-container li a {
          color: #fff; } }
  @media (max-width: 768px) {
    #header-3 .mobile-none {
      display: none; }
    #header-3 .mobile-menu {
      display: block; }
    #header-3 nav.mobile-menu.slide-menu {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100vh;
      top: 0px;
      width: 50vw;
      margin-left: -50vw;
      transition-duration: .5s; }
      #header-3 nav.mobile-menu.slide-menu.active {
        margin-left: 0vw; }
      #header-3 nav.mobile-menu.slide-menu .menu-main-menu-container {
        height: 100%;
        display: flex;
        margin-left: 20px;
        align-items: center; }
        #header-3 nav.mobile-menu.slide-menu .menu-main-menu-container li a {
          color: #fff; } }

.dropdown-menu {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  transition-duration: .5s;
  padding: 0px; }
  .dropdown-menu a, .dropdown-menu a:hover {
    background-color: transparent; }
  .dropdown-menu a {
    background: rgba(0, 0, 0, 0.25);
    border-bottom: solid 1px #fff; }
    .dropdown-menu a:hover {
      background: rgba(0, 0, 0, 0.5); }
  .dropdown-menu:hover > .dropdown-menu, .dropdown-menu:hover > .dropdown-menu:hover {
    display: block; }
    .dropdown-menu:hover > .dropdown-menu a, .dropdown-menu:hover > .dropdown-menu:hover a {
      margin-left: 10px;
      width: calc(100% - 10px);
      margin-top: -2px; }

/*# sourceMappingURL=style.css.map */
