@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.kontakt {
  position: relative;
  padding: 60px 0px; }
  .kontakt .bg-absolute {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-size: cover;
    background-attachment: fixed; }
  .kontakt h2 {
    margin-bottom: 20px; }
  .kontakt label {
    width: 100%; }
    .kontakt label input, .kontakt label textarea {
      background-color: #F2F2F2;
      border: none;
      width: 100%;
      border: solid 1px #ededed; }
  .kontakt svg {
    width: 25px;
    height: auto; }
    .kontakt svg path {
      fill: #0D0D0D; }
  .kontakt .phone, .kontakt .mail, .kontakt .home {
    display: flex;
    margin-bottom: 10px;
    padding: 15px 0px;
    border-bottom: solid 1px #F2F2F2; }
    .kontakt .phone > *, .kontakt .mail > *, .kontakt .home > * {
      margin-right: 10px; }
    .kontakt .phone a, .kontakt .phone .text, .kontakt .mail a, .kontakt .mail .text, .kontakt .home a, .kontakt .home .text {
      color: #0D0D0D;
      font-size: 19px; }
  .kontakt .wpcf7-submit {
    background-color: #0D0D0D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
    transition-duration: .5s; }
    .kontakt .wpcf7-submit:hover {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }
  .kontakt label {
    width: 100%; }
  .kontakt input, .kontakt textarea {
    border: none;
    width: 100%;
    border: solid 1px #ededed;
    background-color: transparent !important; }
  .kontakt input.wpcf7-form-control.wpcf7-submit {
    width: 20%; }
  .kontakt.color-white label {
    color: #fff; }
  .kontakt.color-white input, .kontakt.color-white textarea {
    border: solid 1px #fff;
    color: #fff; }
  .kontakt.color-white input.wpcf7-form-control.wpcf7-submit {
    border: solid 1px #000 !important;
    background-color: #000 !important;
    color: #fff; }
  .kontakt.color-black label {
    color: #000; }
  .kontakt.color-black input, .kontakt.color-black textarea {
    border: solid 1px #000;
    color: #000; }
  .kontakt.color-black input.wpcf7-form-control.wpcf7-submit {
    border: solid 1px #fff !important;
    background-color: #fff !important;
    color: #000; }

/*# sourceMappingURL=style.css.map */
