@import "../../../../assets/sass/general";

.kontakt {
	position: relative;
	padding: 60px 0px;
	.bg-absolute {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		background-size: cover;
		background-attachment: fixed;
	}
	h2 {
		margin-bottom: 20px;
	}
	label {
		width: 100%;
		input, textarea {
			background-color: $icolor;
			border:none;
			width: 100%;
			border:solid 1px #ededed;
		}	
	}
	svg { 
		width: 25px;
		height: auto;
		path {
			fill:$fcolor; 
		}
	}
	.phone, .mail, .home { 
		display: flex;
		margin-bottom: 10px;
		padding: 15px 0px;
		border-bottom: solid 1px $icolor;
		& > * {
			margin-right: 10px; 
		}
		a, .text { 
			color: $fcolor;
			font-size: 19px;
		}
	}
	.wpcf7-submit {
		background-color: $fcolor;
		color: #fff;
		border: none;
		padding: 10px 20px;
		box-shadow: 0px 0px 20px rgba(0,0,0,.45);
		transition-duration: .5s;
		&:hover {
			box-shadow: 0px 0px 5px rgba(0,0,0,.7);
		}
	}
	label {
		width: 100%;
	}
	input, textarea {
		border: none;
		width: 100%;
		border: solid 1px #ededed;
		background-color: transparent !important;
	}
	input.wpcf7-form-control.wpcf7-submit {
		width: 20%;
	}
	&.color-white {
		label {
			color: #fff;
		}
		input, textarea {
			border: solid 1px #fff;
			color: #fff;
		}
		input.wpcf7-form-control.wpcf7-submit {
			border: solid 1px #000 !important;
			background-color: #000 !important;
			color: #fff;
		}
	}
	&.color-black {
		label {
			color: #000;
		}
		input, textarea {
			border: solid 1px #000;
			color: #000;
		}
		input.wpcf7-form-control.wpcf7-submit {
			border: solid 1px #fff !important;
			background-color: #fff !important;
			color: #000;
		}
	}
} 