@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {
	#hamburger-9{
		position: relative;
		transition: all 0.3s ease-in-out;
	}

	#hamburger-9.is-active{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#hamburger-9:before{
		content: "";
		position: absolute;
		box-sizing: border-box;
		width: 70px;
		height: 70px;
		border: 5px solid transparent;
		top: calc(50% - 35px);
		left: calc(50% - 35px);
		border-radius: 100%;
		transition: all 0.3s ease-in-out;
	}

	#hamburger-9.is-active:before{
		border: 5px solid #ecf0f1;
	}

	#hamburger-9.is-active .line{
		width: 35px;
	}

	#hamburger-9.is-active .line:nth-child(2){
		opacity: 0;
	}

	#hamburger-9.is-active .line:nth-child(1){
		-webkit-transform: translateY(13px);
		transform: translateY(13px);
	}

	#hamburger-9.is-active .line:nth-child(3){
		-webkit-transform: translateY(-13px) rotate(90deg);
		transform: translateY(-13px) rotate(90deg);
	}
}
