@import "../../../../assets/sass/general";

////////////////////////////////////
/////////  CAROUSEL LOGO   ////////
//////////////////////////////////
.section-logo-carousel {
	.carousel-inner {
		width: 80%;
		margin: auto;
	}
	span.carousel-control-next-icon, span.carousel-control-prev-icon {
		filter: drop-shadow(0px 0px 3px rgba(0,0,0,.95));
	}
}
.carousel {
	position: relative; 
	width: 100%;
}