.list-section {
	.title-container {
		text-align: center;
		h3 {
			font-size: 3em;
			font-weight: 600;
		}
		p {
			width: 80%;
			margin: auto;
			margin-bottom: 40px;
			letter-spacing: 2px;
		}
	}
	.title-wrapper {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		.title {
			font-size: 2em;
			font-weight: 600;
			margin-left: 10px;
		}
		.image img {
			max-width: 50px;
			height: auto;
		}
	}
	ul {
		padding: 0px;
		list-style-type: none;
		margin-top: 30px;
		li {
			margin-bottom: 5px;
			padding-bottom: 5px;
			border-bottom: solid 1px #ddd;
		}
	}
}  