@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.open-navigation #hamburger-10 {
  transition: all 0.3s ease-in-out; }
.open-navigation #hamburger-10.is-active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
.open-navigation #hamburger-10.is-active .line:nth-child(1) {
  width: 30px; }
.open-navigation #hamburger-10.is-active .line:nth-child(2) {
  width: 40px; }

/*# sourceMappingURL=style.css.map */
