@import "../../../../assets/sass/general";

#footer-1 {
	padding-top: 40px;
	h5 {
		color: #fff;
		margin-bottom: 20px;
	}
	.navbar-brand {
		img {
			filter: brightness(10000%);
			margin-bottom: 20px;
		}
	}
	p {
		color: #fff;
	}
	.menu-footer-menu-container {
		.menu {
			list-style-type: none;
			padding:0px;
			li {
				margin-bottom: 10px;
				a {
					padding:0px;
					color: #fff;
				} 
			}
		}
	}
	background-color: $fcolor;
	.footer-contact {
		img {
			max-width: 25px;
		}
	}
	.footer-contact {
		list-style-type: none;
		padding: 0px;
		p {
			margin-bottom: 0px;
		}
		li {
			display: flex;
			color: #fff;
			align-items: end;
			margin-bottom: 15px;
			img {
				margin-right: 10px;
			}
			a {
				color: #fff;
			}
		}
	}
	.menu-footer-menu-container {
		max-height: 390px;
		overflow: hidden;
		.fb-page.fb_iframe_widget {
			margin-top: -20px;
		}
	}
	.footer-copyright {
		display: flex;
		align-items: center;
		justify-content: center;
		padding:40px 0px;
		img { 
			max-width: 80px;
			margin-left: 10px;
		}
		p {
			margin-bottom: 0px;
		}
	}
} 