@import "../../../../assets/sass/general";

//header 2
#header-2 {
	position: absolute;
	z-index: 100;
	right: 20px;
	nav {
		position: fixed;
		z-index: 2;
		left: 0;
		background: rgba(0,0,0,.5);
		height: 100vh;
		margin-left: -60vh;
		box-shadow: 5px 0px 10px #000;
		transition-duration: .5s;
		overflow-y: scroll;
	} 
	nav.active {
		margin-left: 0vh;
	}
	.logotype {
		width: 80%;
		margin: auto;
		display: block;
		max-width: 300px;
		height: auto;
	}
	.open-navigation {
		display: flex;
		justify-content: flex-end;
	}
	.container-w-logo {
		position: relative;
		.img-white {
			position: absolute;
			height: 105%;
			width: 80%;
			background: white;
			top: 0;
			left: 0px;
			margin-left: 10%;
			background-repeat: no-repeat;
		}
	}
	.w-logotype {
		margin-bottom: 40px;
		margin-top: 40px;
	}
	
	ul#menu-main-menu {
		text-align: center;
		li {
			a {
				color: #fff;
				font-size: 1.5em;
			} 
		}
	}
	@media (max-width: 576px) { 
		nav.slide-menu {
			flex-direction: column;
		}
	}

	@media (max-width: 768px) {  
		nav.slide-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: -80vw;
		}
		nav.slide-menu.active {
			width: 70vw;
			margin-left: 0vw;
		}
	}
} 