@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.open-navigation #hamburger-6.is-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.open-navigation #hamburger-6.is-active .line:nth-child(2) {
  width: 0px; }
.open-navigation #hamburger-6.is-active .line:nth-child(1),
.open-navigation #hamburger-6.is-active .line:nth-child(3) {
  transition-delay: 0.3s; }
.open-navigation #hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  transform: translateY(13px); }
.open-navigation #hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg); }

/*# sourceMappingURL=style.css.map */
