.matrix {
  height: 100vh;
  overflow: hidden;
  margin: 0px; }
  .matrix .icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor; }
  .matrix .container-matrix {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  .matrix .content {
    text-align: center;
    position: relative;
    z-index: 3;
    height: 100%; }
  .matrix .background {
    perspective: 1000px; }
  .matrix .background,
  .matrix .background__copy {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 50% 0%;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .matrix .background__copy {
    opacity: 0.3; }
  .matrix .content__title {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .matrix p.content__tagline {
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 6px; }
  .matrix .logotype-present {
    max-width: 60%;
    margin: 0 auto; }
    .matrix .logotype-present img {
      width: 100%;
      height: auto; }

@media (max-width: 768px) {
  .matrix p.content__tagline {
    font-size: .8em;
    margin-top: 20px; } }

/*# sourceMappingURL=style.css.map */
