.matrix {
	height: 100vh;
	overflow:hidden;
	margin: 0px;
	.icon {
		display: block;
		width: 1.5em;
		height: 1.5em;
		margin: 0 auto;
		fill: currentColor;
	}

	.container-matrix {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.content {
		text-align: center;
		position: relative;
		z-index: 3;
		height: 100%;
	}

	.background {
		perspective: 1000px;
	}

	.background,
	.background__copy {
		position: absolute;
		width: 100%;
		height: 100%; 
		top: 0;
		left: 0;
		background-position: 50% 0%;
		background-size: cover;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.background__copy {
		opacity: 0.3;
	}
	.content__title {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	p.content__tagline {
		color: #fff;
		font-size: 1.4em;
		text-transform: uppercase;
		letter-spacing: 6px;
	}
	.logotype-present {
		max-width: 60%;
		margin: 0 auto;
		img {
			width: 100%;
			height: auto;
		}
	}
}
@media (max-width: 768px) { 
	.matrix p.content__tagline {
		font-size: .8em;
		margin-top: 20px;
	}
}