.employees .employees-wrapper {
  margin-bottom: 20px;
  border: solid 1px #ddd;
  border-radius: 25px 0px 25px 0px; }
  .employees .employees-wrapper img {
    height: 220px;
    border-radius: 25px 0px 0px 0px;
    width: 100%;
    object-fit: cover; }
  .employees .employees-wrapper h4 {
    text-align: center;
    margin-top: 15px;
    padding: 0px 15px;
    color: #0D0D0D; }
  .employees .employees-wrapper p.position {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #A4A5A6; }
  .employees .employees-wrapper .text-employees {
    padding: 5px 15px;
    font-size: .9rem;
    margin-bottom: 15px;
    text-align: center;
    color: #A4A5A6; }
  .employees .employees-wrapper a {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color: #A4A5A6;
    transition-duration: .5s; }
    .employees .employees-wrapper a:hover {
      color: #0D0D0D; }
      .employees .employees-wrapper a:hover svg path {
        fill: #0D0D0D; }
  .employees .employees-wrapper svg {
    width: 15px;
    height: auto;
    margin-right: 2px; }
    .employees .employees-wrapper svg path {
      transition-duration: .5s;
      fill: #A4A5A6; }

/*# sourceMappingURL=style.css.map */
