@import "../../../../assets/sass/general";
.employees {
	.employees-wrapper {
		margin-bottom: 20px;
		border: solid 1px #ddd;
		border-radius: 25px 0px 25px 0px;
		img {
			height: 220px;
			border-radius: 25px 0px 0px 0px; 
			width: 100%;
			object-fit: cover;
		}
		h4 {
			text-align: center;
			margin-top: 15px;
			padding: 0px 15px;
			color: $fcolor;
		}
		p.position {
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 3px;
			margin-bottom: 10px;
			color: $scolor;
		} 
		.text-employees {
			padding: 5px 15px;
			font-size: .9rem;
			margin-bottom: 15px;
			text-align: center;
			color: $scolor;
		}
		a {
			display: block;
			text-align: center;
			margin-bottom: 5px;
			color: $scolor;
			transition-duration: .5s;
			&:hover {
				color: $fcolor;
				svg {
					path {
						fill:$fcolor;
					}
				}
			}
		}
		svg {
			width: 15px;
			height: auto;
			margin-right: 2px;
			path {
				transition-duration: .5s;
				fill: $scolor;
			}
		}
	}
}