@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {
	#hamburger-1.is-active .line:nth-child(2){
		opacity: 0;
	}

	#hamburger-1.is-active .line:nth-child(1){
		-webkit-transform: translateY(13px) rotate(45deg);
		transform: translateY(13px) rotate(45deg);
	}

	#hamburger-1.is-active .line:nth-child(3){
		-webkit-transform: translateY(-13px) rotate(-45deg);
		transform: translateY(-13px) rotate(-45deg);
	}
}
