$ffont: 'Overlock', cursive;
$sfont: 'PT Sans', sans-serif;
$fcolor: #0D0D0D;
$scolor: #A4A5A6;
$tcolor: #565759; 
$ocolor: #D9D9D9;
$icolor: #F2F2F2;

@-webkit-keyframes smallbig{
	0%, 100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50%{
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}

@keyframes smallbig{
	0%, 100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50%{
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}